{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailsettings_tags static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
{% get_settings %}

<div class="container" id="content-wrapper">
    <div class="col-md-12">
        <a href="{% slugurl 'home' %}"><h1>{{ settings.home.GeneralSettings.site_name }}</h1></a>
    </div>

    <div class="col-md-12 no-gutter">
        {% include "navbar.html" %}

        {% if self.featured_article %}
        <div class="feature-article article table">
        {% with self.featured_article as fa %}
            {% image fa.main_image fill-800x600 as tmp_photo %}
            <div class="col img" style="background-image: url({{ tmp_photo.url }})" {{ tmp_photo.attrs }}></div>
            <div class="col">
                <div class="feature-info">
                    <h4>{{ fa.subjects.all|join:", " }}</h4>
                    <h3 class="title"><a href="{{ fa.url }}">{{ fa.title }}</a></h3>
                    <h4 class="no-break">By {{ fa.author }}&emsp;|&emsp;</h4><h5 class="no-break">{{ fa.date }}</h5>
                    <p>{{ fa.intro }}</p>
                </div>
                <p class="read-more-link"><a href="{{ fa.url }}">
                    Read More&ensp;<i class="fa fa-angle-right fa-lg"></i>
                </a></p>
            </div>
        {% endwith %}
        </div>
        {% endif %}
    </div>

    <div class="col-md-8">
        {% for a in self.preview_articles.all %}
            {% with a.article as article %}
                {% include "blog/preview_article.html" %}
            {% endwith %}
        {% endfor %}
    </div>

    <div class="col-md-4">

        <div class="social-icons">
            <h2 class="info-header">Connect</h2>
            <div class="social-info">
                {% if settings.home.SocialMediaSettings.facebook %}
                    <a href="{{ settings.home.SocialMediaSettings.facebook }}">
                        <i class="fa fa-facebook fa-2x"></i>
                    </a>
                {% endif %}
                {% if settings.home.SocialMediaSettings.twitter %}
                    <a href="http://twitter.com/{{ settings.home.SocialMediaSettings.twitter }}">
                        <i class="fa fa-twitter fa-2x"></i>
                    </a>
                {% endif %}
                {% if settings.home.SocialMediaSettings.google_plus %}
                    <a href="http://plus.google.com/+{{ settings.home.SocialMediaSettings.google_plus }}">
                        <i class="fa fa-google-plus fa-2x"></i>
                    </a>
                {% endif %}
                {% if settings.home.SocialMediaSettings.github %}
                    <a href="{{ settings.home.SocialMediaSettings.github }}">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="info-box">
            <h2 class="info-header">Latest</h2>
            {% for article in self.latest_articles.all %}
                <a class="info-link-box" href="{{ article.url }}">
                    <h4>{{ article.subject }}</h4>
                    <h3>{{ article.title }}</h3>
                </a>
            {% endfor %}
            <a class="info-link-box read-more-link" href="{% slugurl 'articles' %}">
                More&ensp;<i class="fa fa-angle-right fa-lg"></i>
            </a>
        </div>

        {% include 'links-box.html' %}
    </div>


</div>
{% endblock %}