{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailsettings_tags static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
{% get_settings %}

<div class="container" id="content-wrapper">
    <div class="col-md-12">
        <a href="{% slugurl 'home' %}"><h1>{{ settings.home.GeneralSettings.site_name }}</h1></a>
    </div>

    <div class="col-md-12 no-gutter">
        {% include "navbar.html" %}

        <div class="feature-article article table">
        {% with self.featured_article as fa %}
            {% image fa.main_image fill-800x600 as tmp_photo %}
            <div class="col img" style="background-image: url({{ tmp_photo.url }})"></div>
            <div class="col">
                <div class="feature-info">
                    <h4>{{ fa.subject }}</h4>
                    <h3 class="title"><a href="{{ fa.url }}">{{ fa.title }}</a></h3>
                    <h4 class="no-break">By {{ fa.author }}&emsp;|&emsp;</h4><h5 class="no-break">{{ fa.date }}</h5>
                    <p>{{ fa.intro }}</p>
                </div>
                <p class="read-more-link"><a href="{{ fa.url }}">
                    Read More&ensp;<i class="fa fa-angle-right fa-lg"></i>
                </a></p>
            </div>
        {% endwith %}
        </div>
    </div>

    <div class="col-md-8">
        {% for a in self.preview_articles.all %}
            {% with a.article as article %}
                {% include "blog/preview_article.html" %}
            {% endwith %}
        {% endfor %}
    </div>

    <div class="col-md-4">

        <div class="social-icons">
            <h2 class="info-header">Social</h2>
            <div class="social-info">
                <i class="fa fa-facebook fa-2x"></i>
                <i class="fa fa-twitter fa-2x"></i>
                <i class="fa fa-google-plus fa-2x"></i>
                <i class="fa fa-github fa-2x"></i>
            </div>
        </div>

        <div class="info-box">
            <h2 class="info-header">Latest</h2>
            {% for article in self.latest_articles.all %}
                <a class="info-link-box" href="{{ article.url }}">
                    <h4>{{ article.subject }}</h4>
                    <h3>{{ article.title }}</h3>
                </a>
            {% endfor %}
            <a class="info-link-box read-more-link" href="{% slugurl 'articles' %}">
                More&ensp;<i class="fa fa-angle-right fa-lg"></i>
            </a>
        </div>

        {% include 'links-box.html' %}
    </div>


</div>
{% endblock %}

{% block extra_css %}
    <link href="{% static 'node_modules/vis/dist/vis.css' %}" type="text/css"/>
    <style type="text/css">
        #mynetwork {
            float: left;
            clear: both;
            width: 600px;
            height: 400px;
            border: 1px solid #d3d3d3;
        }
    </style>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'node_modules/vis/dist/vis.js' %}"></script>
    <script type="text/javascript">
        console.log('running');
        // Create array of nodes
        var nodes = new vis.DataSet([
            {id: 1, label: 'Node 1'},
            {id: 2, label: 'Node 2'},
            {id: 3, label: 'Node 3'},
            {id: 4, label: 'Node 4'},
            {id: 5, label: 'Node 5'}
        ]);

        // Create an array of edges
        var edges = new vis.DataSet([
            {from: 1, to: 3},
            {from: 1, to: 2},
            {from: 2, to: 4},
            {from: 2, to: 5}
        ]);

        // Create network
        var container = document.getElementById('network');

        // provide data in vis format
        var data = {
            nodes: nodes,
            edges: edges
        };

        var options = {};

        // Initialize
        var network = new vis.Network(container, data, options);
    </script>
{% endblock %}