{% extends "page.html" %}
{% load make_markdown %}

{% block page-content %}

<div class="col-md-8 no-gutter">
    <div class="article">
        <div class="article-content">
            <h3>{{ self.title }}</h3>
            <div class="article-body">
                {% for block in self.body %}
                    {% if block.block_type == 'text' %}
                        {{ block|make_markdown }}
                    {% else %}
                        {{ block }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    {% include 'links-box.html' %}
</div>

{% endblock %}