/* General Styling */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
    background-color: #2C2664;
    color: #E1E2E9;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

h1 { /* Site Title */
    font-family: Oswald, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #E1E2E9;
    font-size: 92px;
    max-width: 100%;
    white-space: nowrap;
}
h2 { /* Info Box Header */
    font-family: Oswald, sans-serif;
    font-weight: 600;
    font-size: 28px;
    text-transform: uppercase;
    color: #E1E2E9;
    margin: 0 0 20px 0;
    letter-spacing: 1px;
}
h3 { /* Article Title */
    font-family: Oswald, sans-serif;
    font-weight: 600;
    color: #111;
    font-size: 40px;
    margin: 16px 0;
}
h4 { /* Author/Subject Heading */
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #22284f;
    text-transform: uppercase;
    font-size: 14px;
}

h5 { /* Date */
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #22284f;
}

p {
    margin-bottom: 16px;
}

a {
    text-decoration: none;
    color: #EB5B4C;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
a:hover {
    text-decoration: none;
    color: #22284f;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
a:focus {
    text-decoration: none;
    color: #22284f;
}

.no-break {
    display: inline-block;
}


/* Navbar styling */

.navbar {
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    min-height: 50px;
}
.navbar-default {
    background-color: #3f67c0;
    border: none;
    border-radius: 0;
}
.navbar-default .navbar-brand {
    color: #e1e2e9;
    font-family: Oswald, sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
    padding: 0 30px;
    line-height: 50px;
    text-transform: uppercase;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #e1e2e9;
}
.navbar-default .navbar-nav > li > a {
    color: #e1e2e9;
    padding: 0 16px;
    line-height: 50px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #3f67c0;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #e1e2e9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #35b5eb;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #3f67c0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #35b5eb;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    border: none;
}
.navbar-default .navbar-toggle {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 9px 16px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #35b5eb;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #e1e2e9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}
.navbar-default .navbar-link {
    color: #e1e2e9;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
   .navbar-default .navbar-nav > li > a {
       padding: 0 30px;
   }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e1e2e9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #35b5eb;
  }
}

#clear-navbar {
    height: 80px;
}


/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #3f67c0;
}
.footer ul {
    list-style: none;
    line-height: 50px;
    margin: 0;
    padding: 0;
}
.footer ul li {
    padding: 0 14px;
    display: inline-block;
}
.footer ul li a {
    color: inherit;
}
.footer ul li a:hover {
    color: #fff;
}


/* Feature Article preview */

.feature-article, .preview-article, .info-box, .article {
    background: #E1E2E9;
    width: 100%;
    color: #111;
    overflow: auto;
    margin-bottom: 30px;
    position: relative;
}

.feature-article h3, .preview-article h3 {
    margin: 10px 0;
}
.preview-article h4, .preview-article h5, .feature-article h4, .feature-article h5 {
    margin: 0;
}
.preview-article p, .feature-article p {
    margin-top: 10px;
}
h3 a {
    color: inherit;
}
h3 a:hover {
    color: #EB5B4C;
}

.feature-info, .preview-info, .author-info {
    padding: 16px;
    padding-bottom: 32px;
}

.general-info {
    padding: 16px;
}

.feature-info p, .preview-info p {
    //margin-bottom: 32px;
}

.read-more-link, .general-link {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    position: absolute;
    clear: both;
    bottom: 16px;
    right: 16px;
}
a.info-link-box.read-more-link {
    color: #EB5B4C;
}
.general-link {
    color: #111;
}
.read-more-link .fa-angle-right {
    display: inline-block;
    line-height: 9px;
}
.info-link-box.read-more-link, .info-link-box.general-link {
    position: static;
    display: block;
    padding: 10px 16px;
    margin: 0;
}
a.info-link-box.read-more-link:hover {
    color: #22284f;
}
a.info-link-box.general-link:hover {
    color: #EB5B4C;
}


/* Home page other article preview */

.article {
    overflow: hidden;
}
.article > h3 {
    margin: 16px;
}
.article.table, .info-box .table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}
.info-box .table {
    margin-bottom: 0;
}
.info-box h3 {
    font-size: 28px;
    margin: 0 0 16px 0;
}
.article .col, .info-box .col {
    display: table-cell;
    padding: 0;
}
.col.img {
    background-position: center;
    background-size: cover;
}

.articles-container .preview-article, .pagination {
    opacity: 0;
    top: 100px;
}

.preview-article .col.img {width: 40%;}
.feature-article .col.img {width: 50%;}
.info-box .col.img {width: 30%;}

@media (max-width: 767px) {
    .feature-article .col {
        display: block;
        width: 100%;
    }
    .feature-article .col.img {
        width: 100%;
        padding-bottom: 56.25%;
    }
}

.preview-article {
    position: relative;
}
.preview-article h3 {
    font-size: 32px;
}
.preview-article img {
    height: auto;
    max-width: 40%;
}

.social-icons, .info-header {
    background: #3F67C0;
}

.social-icons {
    margin-bottom: 30px;
}
.social-info i {
    line-height: 50px;
    margin-right: 20px;
}
.social-info {
    margin: 0 16px;
}
.social-icons a {
    color: #e1e2e9;
    text-decoration: none;
}
.social-icons a:hover {
    color: #fff;
}
.social-icons .fa {
    margin-right: 22px;
}
.info-header {
    display: block;
    margin: 0;
    line-height: 50px;
    padding: 0 16px;
}

a.info-link-box {
    color: inherit;
    margin: 0;
    display: block;
    padding: 10px 16px 0 16px;
    border-bottom: 1px solid #aaacc0;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
a.info-link-box:hover {
    background-color: #fff;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
a.info-link-box:hover h3 {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.info-link-box h3 {
    font-size: 22px;
    margin: 10px 0;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.info-link-box h4 {
    margin-top: 0;
}
.info-link-box p {
    margin-bottom: 10px;
}

#index-intro h3 {
    font-family: 'DejaVu Sans', sans-serif; /* TODO: DejaVu Sans webfont */
    font-weight: 400;
}


/* Article Page */

.article-photo {
    height: auto;
    width: 100%;
}
.article-content {
    padding: 16px;
    line-height: 24px;
}
.article-content > h3 {
    font-size: 56px;
}
.article-intro {
    color: #444;
    margin: 20px 0 30px 0;
    font-weight: 300;
}
.article-body {
    margin-top: 16px;
}
.article-body h1, .article-body h2, .article-body h3,
.article-body h4, .article-body h5, .article-body h6 { /* Headers in Article Body*/
    font-family: Oswald, sans-serif;
    color: #111;
    text-transform: none;
}
.article-body h1 {font-size: 42px; margin: 14px 0;}
.article-body h2 {font-size: 32px; margin: 16px 0;}
.article-body h3 {font-size: 28px; margin: 17px 0;}
.article-body h4 {font-size: 22px; margin: 18px 0;}
.article-body h5 {font-size: 22px; margin: 18px 0;}
.article-body h6 {font-size: 16px; margin: 20px 0;}

.article-body figure {
    margin: 0 -16px 16px -16px;
}
.article-body figure img {
    width: 100%;
    height: auto;
}

blockquote {
    border-left-color: #aaacc0;
}
.article-content hr {
    border-top-color: #aaacc0;
    margin: 20px -16px;
}

.richtext-image {
    height: auto;
    width: 100%;
    margin-bottom: 16px;
}
.block-image {
    margin: 0 -16px 16px -16px;
}
.block-image img {
    width: 100%;
    height: auto;
}
.responsive-object {
    position: relative;
    margin: 0 -16px 16px -16px;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
figure figcaption, .main-image-source {
    font-size: 14px;
    line-height: 18px;
    margin: 4px 16px 0 16px;
    color: #444;
}
.main-image-source {
    text-align: right;
}

#disqus_thread {
    margin: 16px;
}

.extra-info {
    background-color: #fff;
    margin: 0 0 30px 0;
}
.article .extra-info {
    margin: 0 -16px 16px -16px;
}

h4.extra-info-header {
    background-color: #3f67c0;
    color: #e1e2e9;
    padding: 10px 16px;
    margin: 0;
}
.extra-info-body {
    padding: 0 16px;
    margin-top: 10px;
    overflow: hidden;
}

.rotate{
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .2s linear;
}

.rotate.down{
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}


/* Author info */

.author-photo {
    height: auto;
    width: 30%;
}

.author-info {
    width: 70%;
}


/* Pagination */

.pagination {
    margin: 0 0 30px 0;
}
.pagination a, .pagination span {
    text-align: center;
    display: inline-block;
    color: inherit;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    width: 30px;
}
.pagination a:hover {
    background-color: #3F67C0;
}
.pagination a.page {
    width: 30px;
}
.pagination .current-page {
    background-color: #3F67C0;
}


/* Forms */

form label {
    display: block;
}
form span.helptext {
    display: block;
    color: #444;
    font-weight: 300;
    font-size: 14px;
}
form .errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #EB5B4C;
}
select, input, textarea {
    color: #111;
    background-color: #fff;
    border: none;
    outline: none;
}
textarea {
    max-width: 100%;
}
select, input {
    padding: 5px 10px;
}
input[type="submit"], input[type="button"] {
    background-color: #3F67C0;
    color: #e1e2e9;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
input[type="submit"]:hover, input[type="button"]:hover,
input[type="submit"]:focus, input[type="button"]:focus {
    background-color: #35b5eb;
}


/* Token Stuff */

#token-box {
    background-color: #fff;
    padding: 10px 10px 0 10px;
    margin-bottom: 16px;
}
#tokens-input {
    width: 0;
    height: 35px;
    padding: 5px 0;
    margin: 0 0 10px 0;
}
.token, .tag {
    background-color: #3F67C0;
    color: #e1e2e9;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    display: inline-block;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.token .fa {
    font-size: 14px;
    line-height: 24px;
    padding: 5px 10px;
    margin: -5px -10px -5px 0;
}
.token a, .tag a {
    color: #e1e2e9;
}
.token:hover, .tag:hover {
    background-color: #35b5eb;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.token:hover a, .tag:hover a {
    color: #fff;
}
.tag {
    padding: 0;
}
.tag a {
    display: block;
    padding: 5px 10px;
}


/* Network styling */

#mynetwork {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
    overflow: hidden;
}

#table-network {
    margin: 0 -16px;
    width: calc(100% + 32px);
}
#table-network tr {
    border-bottom: 1px solid #aaacc0;
}
#table-network td, #table-network th {
    vertical-align: top;
    padding: 10px 16px;
    color: #111;
}


/*div[class^="col"]{padding-left:0; padding-right:0;}*/
.no-gutter{padding-left:0; padding-right:0;}
.container{padding: 0;}
.container>.navbar-header{margin: 0;}


/* Media Query modifications */
/* MUST BE AT END */

/* Small devices and up (tablets +) */
@media (min-width: 768px) {
    div[class^="col"]{padding-left:15px; padding-right:15px;}
}

/* Medium devices and up (small desktops +) */
@media (min-width: 992px) {
    .container{padding: 0 15px;}
    .container>.navbar-header{margin: 0 -15px;}

    h3.title {
        font-size: 3.5vw;
    }
    .info-box .col {
        display: block;
        width: 100%;
    }
    .info-box .col.img {
        width: 100%;
        padding-bottom: 56.26%;
    }
}

/* Large devices and up (large desktops) */
@media (min-width: 1200px) {
}