{% extends "page.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/gcse.css' %}">
{% endblock %}

{% block page-content %}
    {% comment %}
    <h1>Search</h1>

    <form action="{% url 'search' %}" method="get">
        <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <input type="submit" value="Search">
    </form>

    {% if search_results %}
        <ul>
            {% for result in search_results %}
                <li>
                    <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                    {% if result.search_description %}
                        {{ result.search_description|safe }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        No results found
    {% endif %}

    {% endcomment %}

        <div class="col-md-12">
            <div class="article">
                <h3>Search</h3>
                <div id='cse'>
                    <div class="article-content">Loading...</div>
                </div>
            </div>
        </div>

    <script src='//www.google.com/jsapi' type='text/javascript'></script>
    <script type='text/javascript'>
        google.load('search', '1', {language: 'en', style: src="{% static 'css/gcse.css' %}"});
        google.setOnLoadCallback(function() {
            var customSearchOptions = {};
            customSearchOptions['enableOrderBy'] = false;
            var customSearchControl =   new google.search.CustomSearchControl('008774335833332980458:jlujwmqvwyo', customSearchOptions);
            customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
            var options = new google.search.DrawOptions();
            options.setAutoComplete(true);
            customSearchControl.draw('cse', options);
        }, true);
    </script>

{% endblock %}